@import 'https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  min-width:100vw;
  max-width:100vw;
  overflow-x: hidden;
  background-color: transparent !important;
}

.container{
  display:flex;
  min-width: 100vh;
  max-width: 100vh;
}

// MENU
.nav-item a{
  font-size: 20px;
}

.menu-nav-item a:hover{
  color: #a68a9f !important;
  font-weight: 600;
}

.image-logo{
  min-width: 200px;
  max-width: 200px;
}

.navbar-container{
  display:block;
  background-color: rgb(197 237 237);
}

.navbar-nav{
  flex-direction:row !important;
 }

// footer
.uoc-footer {
 background-color: rgb(197 237 237);
}

svg:hover{
  color: #a68a9f !important;
}

@media (width <= 775px){
  .uoc-footer nav{
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 446px){
  .navbar-nav{
    flex-direction:column !important;
    text-align: center;
  }
}

@media (width <= 991px){
  .navbar-nav{
   flex-direction: column !important;
   align-items: center;
  }
}
